*/*aspectos generales*/{
margin:0px;
padding:0px;
font-family:arial, helvetica, verdana;

}

body{
	background: #231f20;
}
.main .article, footer {
	background: #231f20;
	width: 95%;
	margin: 20px 20px;
	float: left;
	border-radius: 10px;
}
.control{
	width: 40%;
	margin: 20px;
	border-radius: 10px;
	float: left;
}
.texto{
	width: 55%;
	float: left;
}
h2, p {
	margin: 15px;
	padding: 10px;
}
h2{
    color: white
}
p{
    color: gray
}
.carta{
	background: #414143;
	width: 20%;
	height: 630px;
	margin: 10px 10px;
	float: left;
	border-radius: 10px;
	
}
.fondo{
	margin: 10px 10px 0px 10px;
	width: 80%;
	height: 250px;
	border-radius: 10px;
}
aside{
	width: 35%;
	margin-top: 20px;
	background: #c41f3f;
	float: left;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	}