*/* aspectos generales de la web*/{
	margin: 0;
	padding: 0;
	font-family: timne new roman, arial, verdad;
}
body { 
 background: #231f20;
}

header,.main, footer {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	
}


header nav {
	background: #231f20;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 5px;}
header nav ul  { list-style: none;
}
header nav ul li { 
	float: left;
	
	}

header nav ul li a {
	padding: 10px 20px; 
	display: block;
	color: #414143;
	text-decoration: none;
	}
header nav ul li a:hover {
	color: #f7d0cb;
	background: #f36523;
}
.main .article {
	width: 68.5%;
	margin-right: 1.5%;
	float:left;
	border-radius: 10px;
	
	}
.main .article article div img{
	width: 50%;
	
}
.main .article article{
	padding: 20px;
	background: #414143;
	margin-bottom: 20px;
	border-radius: 11px;}
aside{
	width: 30%;
	background-color:#c41f3f;
	float: left;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 10px; }
h2, h3, p {
	text-align: center;
	margin-top: 15px;}
.konosuba{
	width: 45%;
}
